<% include ../partials/header.ejs %>

  <h1>New Animal</h1>

  <form action="/animals" method="POST">
    <input type="text" name="name">
    <input type="text" name="type">
    <input type="submit">
  </form>

  <p>&copy; 2016 WDI Industries.</p>

<% include ../partials/footer.ejs %>