<% include ../partials/header.ejs %>

  <h1><%= animal.name %></h1>

  

  <p><%= animal.type %></p>
  <a href="/animals">Back to animals</a>

  <p>&copy; 2016 WDI Industries.</p>

<% include ../partials/footer.ejs %>